<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>koddl.io</title>

    <link rel="stylesheet" href="/public/stylesheets/master.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
      body {
        display: grid;
        grid-template-rows: 100vh auto;
        color: var(--textcolor);
        background: var(--bgcolor);
      }
      header {
        place-self: center;
        display: grid;
        justify-items: center;
      }
      header h1 {
        font-family: 'Inconsolata', monospace;
        font-size: 4em;
      }
      header h1::after {
        content: '|';
        color: var(--cursorcolor);
      }
      aside {
        position: fixed;
        bottom: 1rem;
        width: 100vw;
        text-align: center;
        color: var(--textcolor-aside);
      }
      form {
        margin-top: 0.6875rem;
        padding: 0.125rem 0.5rem 0.5rem;
        background: var(--bgcolor-secondary);
        display: none;
        justify-items: center;
      }
      form > * {
        display: block;
      }
      form > input {
        margin: 0.25rem 0 0.5rem;
      }
      main {
        justify-self: center;
        display: flex;
        column-gap: 1rem;
        align-items: center;
        z-index: 1;
        background: var(--bgcolor);
      }
      img {
        width: 500px;
        height: 400px;
        background: blue;
      }
    </style>
  </head>
  <body>
    <nav>
      <div class="combobox-group">
        <label for="theme-combobox">Theme:</label>
        <select name="" id="theme-combobox">
          <option value="">Noctis Sereno</option>
          <option value="noctis-lux">Noctis Lux</option>
        </select>
      </div>
    </nav>
    <header>
      <h1 id="title-heading">koddl.io</h1>
      <button id="play-button">Main</button>
      <form id="play-form" action="play" method="get">
        <label for="name-input">Username:</label>
        <input type="text" name="name" id="name-input" autocomplete="off" required />
        <label for="room-input">Nama Room:</label>
        <input type="text" name="room" id="room-input" autocomplete="off" required />
        <button type="submit">Masuk Room</button>
      </form>
    </header>
    <aside>&darr; Cara Bermain &darr;</aside>
    <main>
      <div class="text-group">
        <h2>Cara Bermain</h2>
        <p>
          Mirip skribbl.io namun Anda diberikan kode editor, bukan kanvas gambar. Tenang
          pertanyaannya berhubungan dengan pemrograman, bukan menggambar dengan kode editor.
        </p>
      </div>
      <!--<img src="/public/favicon.ico" alt="koddl.io Game Sample" /> -->
    </main>

    <!-- Import and run shared script -->
    <script src="/public/javascripts/main.js"></script>

    <script>
      function setElementDisplay(element, display) {
        element.style.display = display
      }
      function animateTyping(textElement, secondsPerChar) {
        const textContent = textElement.textContent
        for (let i = 0; i <= textContent.length; i++) {
          setTimeout(() => {
            textElement.textContent = textContent.substr(0, i)
          }, secondsPerChar * i)
        }
      }

      // Animate typing on header text
      animateTyping(document.getElementById('title-heading'), 150)

      // Show the room form after hitting 'Play'
      const playButton = document.getElementById('play-button')
      playButton.addEventListener('click', () => {
        setElementDisplay(document.getElementById('play-form'), 'grid')
      })
    </script>
  </body>
</html>
